body{
  background: linear-gradient(90deg, rgba(0,127,255,1) 0%, rgba(20,0,110,1) 100%);
  color: aliceblue;
}



.heady {
  text-align: center;
}

.titles h1{
color: rgb(0, 0, 0);
background-color: aqua;
height: 3rem;
border-radius: 3rem;
text-align: center;
padding-top: 1rem;
font-style: italic;
font-weight: 400;
}